@model IEnumerable<CantCSharp.Models.QuestionModel>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Stranger!</h1>
    <p>Questions are everywhere, answers are on Can't C#</p>
</div>
<div>
    <a href ="~/Home/NewQuestion">Do you have a question?You can put it on here!</a>
</div>

<div class="list-group">
    @foreach (var q in Model)
    {
    <a href="@Url.Action("QuestionDetails", "Home", new { id = q.QuestionID })" class="list-group-item list-group-item-action flex-column align-items-start">
        <table>
            <tr>
                <td width="5%">@q.QuestionID</td>
                <td width="25%">@q.QuestionTitle</td>
                <td width="15%">Posted by: @q.User</td>
                <td width="5%">Views: @q.ViewNumber</td>
                @if (q.Answered)
                {
                    <td align="right" width="5%" class="badge-info">Solved</td>
                }
                else
                {
                    <td align="right" width="5%" class="badge-danger">Problem</td>
                }
            </tr>
        </table>
    </a>
    }
    
</div>
