@model IEnumerable<CantCSharp.Models.QuestionModel>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Stranger!</h1>
    <p>Questions are everywhere, answers are on Can't C#</p>
</div>

<div class="btn-group btn-container w-100 justify-content-between">
    <form action="@Url.Action("AskQuestion", "Home")">
        <button class="btn-primary m-2">New Question</button>
    </form>
    <form>
        <button class="btn-primary">Search</button>
        <input class="m-2" type="text" />
    </form>
</div>

<div class="list-group"> 
    <ul class="w-100 p-2">
        <li class="list-group-item flex-column align-items-start border-0 font-weight-bold">
            <table>
                <tr>
                    <td width="2%">ID</td>
                    <td width="20%">Title</td>
                    <td width="10%">User</td>
                    <td width="8%"><a href="@Url.Action("SortByDate", "Home")">Date</a></td>
                    <td class="text-center" width="5%"><a href="@Url.Action("SortByViews", "Home")">Views</a></td>
                    <td class="text-center" width="5%"><a href="@Url.Action("SortByAnswersCount", "Home")">Answers</a></td>
                    <td align="right" width="4%"></td>
                </tr>
            </table>
        </li>
        @foreach (var q in Model)
        {
        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <a href="@Url.Action("QuestionDetails", "Home", new { id = q.QuestionID })" class="list-group-item-action flex-column align-items-start">
                <table>
                    <tr>
                        <td width="2%">#@q.QuestionID</td>
                        <td width="20%">@q.QuestionTitle</td>
                        <td width="10%">@q.User</td>
                        <td width="8%">@q.PostTime</td>
                        <td class="text-center" width="5%">@q.ViewNumber</td>
                        <td class="text-center" width="5%">@q.AnswerList.Count</td>
                        @if (q.Answered)
                        {
                            <td align="right" width="3%" class="badge-info rounded">Solution</td>
                        }
                        else
                        {
                            <td align="right" width="3%" class="badge-danger rounded">Problem</td>
                        }
                    </tr>
                </table>
            </a>
        </li>
        }
    </ul>
</div>

