@model IEnumerable<CantCSharp.Models.QuestionModel>


@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome Stranger!</h1>
        <table >
            <tr>
                <td>
                    <form  method="post" action="@Url.Action("Login","Account")">
                        <button class="btn-primary" align="left">Login</button>
                    </form>
                </td>
                <td>
                    <form  method="post" action="@Url.Action("Login","Account")">
                        <button class="btn-primary" align="left">Sign up</button>
                    </form>
                </td>
            </tr>
        </table>

        <p>Questions are everywhere, answers are on Can't C#</p><br /><br />
        <p class="h6">5 most recent questions:</p>
    </div>

<div class="list-group"> 
    <ul class="w-100 p-2">
        <li class="list-group-item flex-column align-items-start border-0 font-weight-bold text-center">
            <table>
                <tr>
                    <td class="text-left" width="2%">ID</td>
                    <td class="text-left" width="20%">Title</td>
                    <td width="10%">Date</td>
                    <td width="5%">Upvotes</td>
                    <td width="5%">Views</td>
                    <td width="5%">Answers</td>
                    <td align="right" width="4%"></td>
                </tr>
            </table>
        </li>
        @foreach (var q in Model)
        {
        <li class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <a href="@Url.Action("QuestionDetails", "Home", new { id = q.QuestionID })" class="list-group-item-action flex-column align-items-start">
                <table>
                    <tr>
                        <td class="text-left" width="2%">#@q.QuestionID</td>
                        <td class="text-left" width="20%">@q.QuestionTitle</td>
                        <td width="10%">@q.PostTime</td>
                        <td width="5%">@q.VoteNumber</td>
                        <td width="5%">@q.ViewNumber</td>
                        <td width="5%">@q.AnswerList.Count</td>
                        @if (q.Answered)
                        {
                            <td align="right" width="3%" class="badge-info rounded">Solution</td>
                        }
                        else
                        {
                            <td align="right" width="3%" class="badge-danger rounded">Problem</td>
                        }
                    </tr>
                </table>
            </a>
        </li>
        }
    </ul>
</div>

