@model CantCSharp.Models.LoggedUserIdentytyandModel

@{
    ViewData["Title"] = "QuestionDetails";
}

<div class="text-center">
    <h1 class="display-4">@Model.QuestionModel.QuestionTitle</h1>
</div>

<form method="post" action="@Url.Action("WriteQuestionComment","Home",new { QuestionCommentID = Model.QuestionModel.QuestionID })" class="btn-comment-container">
    <button class="btn-primary" align="left">Comment</button>
</form>
@if (Model.QuestionModel.UserID == Model.User.UserId)
{
    <form method="post" action="@Url.Action("EditQuestion", "Home", new { EditID = Model.QuestionModel.QuestionID })" class="btn-edit-container">
        <button class="btn-primary" align="left">Edit Question</button>
    </form>
}
<div class="list-group m-5">
    <table class="list-group-item list-group-item-action flex-column align-items-start box-shadow">
        <tr class="text-center">
            <td width="2%">#@Model.QuestionModel.QuestionID</td>

            @if (Model.QuestionModel.Answered)
            {
                <td align="left" width="3%" class="badge-info rounded">Answered</td>
            }
            else
            {
                <td align="left" width="3%" class="badge-danger rounded">Problem</td>
            }

            <td width="40%">Posted on: @Model.QuestionModel.PostTime</td>
            <td width="5%">Views: @Model.QuestionModel.ViewNumber</td>
            <td width="5%">Answers: @Model.QuestionModel.AnswerList.Count</td>
        </tr>
    </table>

    <table class="list-group-item list-group-item-action flex-column align-items-start">
        <tr class="align-text-top m-3">
            <td height="350" width="40">@Model.QuestionModel.User</td>
            <td><textbox>@Model.QuestionModel.QuestionMessage</textbox></td>

        </tr>
    </table>
    <table class="list-group-item list-group-item-action flex-column align-items-start">
        <tr class="align-text-top m-3">
            @foreach (Tag tag in Model.QuestionModel.TagList)
            {
            <td align="left" class="btn btn-primary">
                @tag.TagName
                @if (Model.QuestionModel.UserID == Model.User.UserId)
                {
                    <form method="post" action="@Url.Action("DeleteTag", "Home", new { tagName = tag.TagName, questionId = Model.QuestionModel.QuestionID })">
                        <button class="btn-primary">X</button>
                    </form>
                }
            </td>

            }

        </tr>
    </table>
</div>
<div>
    <form method="post" action="@Url.Action("AllQuestionComment","Home", new { QuestionCommentID = Model.QuestionModel.QuestionID })" class="btn-Allcomments-container">
        <button class="btn-primary" align="left">Comments : @Model.QuestionModel.QuestionComments.Count()</button>

    </form>
    
</div>


<div>
    <form method="post" action="@Url.Action("NewAnswer", "Home", new { id = Model.QuestionModel.QuestionID })">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="answer">
                <span class="input-group-text">Description of the problem</span>
            </div>
            <textarea rows="1" class="form-control" type="text" name="answer" placeholder="Your answer..." required></textarea><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="imageUrl">
                <span class="input-group-text">Image</span>
            </div>
            <input class="form-control" type="text" name="Image" placeholder="https://mytrendingstories.com/media/photologue/photos/cache/keep-calm-and-git-gud-10_article_large.png"><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="imageUrl">
                <span class="input-group-text">Link</span>
            </div>
            <input class="form-control" type="text" name="Link" placeholder="https://www.google.com/"><br>
        </div>
        <button class="btn-primary">Submit</button>
    </form>
    @if (Model.QuestionModel.UserID == Model.User.UserId)
    {
        <form method="post">
            <input type="hidden" name="TheId" value="@Model.QuestionModel.QuestionID" />
            <button class="btn-primary">Delete Question</button>
        </form>
    }
</div>



<div class="list-group m-5">
    @foreach (Answer answer in Model.QuestionModel.AnswerList)
    {
        <table class="list-group-item list-group-item-action flex-column align-items-start box-shadow">
            <tr>
                @if (answer.IsSolution)
                {
                    <td align="left" width="3%" class="badge-info rounded">Solution</td>
                }
                <td width="2%">#@answer.Id</td>
                <td width="40%">Posted on: @answer.PostTime</td>
                <td width="10%">Upvotes: @answer.VoteNumber</td>
                <td width="15%">
                    <form action="@Url.Action("WriteAnswerComment", "Home", new { commentAnswerID = answer.Id, commentQuestionId = Model.QuestionModel.QuestionID})" method="post">
                        <button>Comment</button>
                    </form>
                <td width="15%">
                    <form action="@Url.Action("AllAnswerComment", "Home", new { allCommentAnswerID = answer.Id, allCommentQuestionId = Model.QuestionModel.QuestionID})" method="post">
                        <button>Comments: @answer.AnswerComments.Count()</button>
                    </form>
                </td>
                @if (answer.UserID == Model.User.UserId)
                {
                    <td width="5%">
                        <form action="@Url.Action("EditAnswer", "Home", new { editAnswerID = answer.Id, editQuestionId = Model.QuestionModel.QuestionID })" method="post">
                            <button>Edit</button>
                        </form>
                    </td>
                    <td width="5%">
                        <form action="@Url.Action("MarkAsSolution", "Home", new { answerID = answer.Id, questionId = Model.QuestionModel.QuestionID })" method="post">
                            <button>Solution</button>
                        </form>
                    </td>
                    <td width="5%">
                        <form action="@Url.Action("DeleteAnswer", "Home", new { answerID = answer.Id, questionId = Model.QuestionModel.QuestionID })" method="post">
                            <button>Delete</button>
                        </form>
                    </td>
                }
                <td width="5%">
                    <form action="@Url.Action("VoteUp", "Home", new { answerID = answer.Id, questionId = Model.QuestionModel.QuestionID})" method="post">
                        <button><arrow class="up"></arrow></button>
                    </form>
                </td>
                <td width="5%">
                    <form action="@Url.Action("VoteDown", "Home", new { answerID = answer.Id, questionId = Model.QuestionModel.QuestionID})" method="post">
                        <button><arrow class="down"></arrow></button>
                    </form>
                </td>

            </tr>
        </table>

        <table class="list-group-item list-group-item-action flex-column align-items-start">
            <tr class="align-text-top m-3">
                <td height="350" width="100">@answer.User</td>

                <td>
                    <div style=" word-wrap:break-word;width:800px">
                        @answer.AnswerMessage
                        @if (answer.Link != null)
                        {
                            @foreach (string links in answer.Link)
                            {
                                <p><a href="@links">@links</a></p>
                            }
                        }
                        <div><img class="answer-img" src="@answer.ImageSource" height="200" width="200" /></div>
                    </div>

                </td>
            </tr>
        </table>
    }



</div>
