@model CantCSharp.Models.QuestionModel

@{
    ViewData["Title"] = "QuestionDetails";
}

<div class="text-center">
    <h1 class="display-4">@Model.QuestionTitle</h1>
</div>

<div class="list-group m-5">
    <table class="list-group-item list-group-item-action flex-column align-items-start box-shadow">
        <tr class="text-center">
            <td width="2%" >#@Model.QuestionID</td>

            @if (Model.Answered)
            {
                <td align="left" width="3%" class="badge-info rounded">Solution</td>
            }
            else
            {
                <td align="left" width="3%" class="badge-danger rounded">Problem</td>
            }

            <td width="40%">Posted on: @Model.PostTime</td>
            <td width="5%">Views: @Model.ViewNumber</td>
            <td width="5%">Answers: @Model.AnswerList.Count</td>
        </tr>
    </table>

    <table class="list-group-item list-group-item-action flex-column align-items-start">
        <tr class="align-text-top m-3">
            <td height="350" width="30%">@Model.User</td>
            <td><textbox>@Model.QuestionMessage</textbox></td>
        </tr>
    </table>
</div>

<div>
    <form method="post" action="@Url.Action("NewAnswer", "Home", new { id = Model.QuestionID})">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="username">
                <span class="input-group-text">Username</span>
            </div>
            <input class="form-control" type="text" name="username" placeholder="Phil Doors" required><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="answer">
                <span class="input-group-text">Description of the problem</span>
            </div>
            <input class="form-control" type="text" name="answer" placeholder="Your answer..." required><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="imageUrl">
                <span class="input-group-text">Image</span>
            </div>
            <input class="form-control" type="text" name="Image" placeholder=""><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="imageUrl">
                <span class="input-group-text">Link</span>
            </div>
            <input class="form-control" type="text" name="Link" placeholder=""><br>
        </div>
            <button class="btn-primary">Submit</button>
</form>
    <form method="post">
        <input type="hidden" name="TheId" value="@Model.QuestionID"/>
        <button class="btn-primary">Delete Question</button>
    </form>
</div>



<div class="list-group m-5">
    @foreach (Answer answer in Model.AnswerList)
    {
    <table class="list-group-item list-group-item-action flex-column align-items-start box-shadow">
        <tr>
            <td width="2%">#@Model.QuestionID</td>

            @if (answer.IsSolution)
            {
                <td align="left" width="3%" class="badge-info rounded">Solution</td>
            }
            <td width="40%">Posted on: @answer.PostTime</td>
            <td width="5%">Upvotes: @answer.VoteNumber</td>
            <td width="5%">
                <form action="@Url.Action("DeleteAnswer", "Home", new { answerID = answer.Id, questionId = Model.QuestionID})" method="post">
                    <button>Delete</button>
                </form>
            </td>
            <td width="5%">
                <form action="@Url.Action("VoteUp", "Home", new { answerID = answer.Id, questionId = Model.QuestionID})" method="post">
                    <button><arrow class="up"></arrow></button>
                </form>
            </td>
            <td width="5%">
                <form action="@Url.Action("VoteDown", "Home", new { answerID = answer.Id, questionId = Model.QuestionID})" method="post">
                    <button><arrow class="down"></arrow></button>
                </form>
            </td>

        </tr>
    </table>
    
    <table class="list-group-item list-group-item-action flex-column align-items-start" >
        <tr class="align-text-top m-3">
            <td  height="350" width="100">@answer.User</td>
            
            <td>
                <div style=" word-wrap:break-word;width:800px">
                    @answer.AnswerMessage
                    @if (answer.Link != null)
                    {
                        @foreach (string links in answer.Link)
                        {
                            <p><a href="@links">@links</a></p>
                        }
                    }
                    <div><img class="answer-img" src="@answer.ImageSource" height="200" width="200"  /></div>
                </div>
                
            </td>
        </tr>
    </table>
    }

        

</div>
