@model CantCSharp.Models.QuestionModel

@{
    ViewData["Title"] = "QuestionDetails";
}
    <h1>@Model.QuestionTitle</h1>
    <h6>Posted on : @Model.PostTime, Viewed: @Model.ViewNumber</h6>
    <h2>@Model.QuestionMessage</h2>
    <h3>
        @Model.AnswerList.Count() answers:
    </h3>
        @foreach (Answer answer in Model.AnswerList)
        {
            <ol>@answer</ol>
        }
    

<form action="" method="post">
    <input type="text" name="answer" placeholder="Your answer" />
    <button>@Html.ActionLink("Submit", "NewAnswer", new { id = Model.QuestionID})</button>
</form>

